* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background: lightgrey;
}

.container {
    height: 33px;
    display: flex;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0;
    display: inline-block;

}

nav ul li {
    padding: 5px;
    font-size: 12px;
    font-weight: bold;

}

nav ul li:nth-child(5) {
    margin: auto;
    padding-top: .2em;
    padding-bottom: 3em;
    font-size: 25px;


}

nav a:hover {
    color: blue;
}