#body {
    background-image: url(../img/froggerGif.gif);
    background-size: cover;
}

#title {
    background-image: url(../img/Konami1986.png);
    color: silver;
    size: 0;
}

#input {
    background: silver;
}
#img {
    visibility: hidden;
}

.rotate{
    -moz-animation: spin-horizontal .8s infinite linear;
    -o-animation: spin-horizontal .8s infinite linear;
    -webkit-animation: spin-horizontal .8s infinite linear;
    animation: spin-horizontal 3s infinite linear;
}

@keyframes spin-horizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}
