
.rotate{
    -moz-animation: spin-horizontal 5s infinite linear;
    -o-animation: spin-horizontal 5s infinite linear;
    /*-webkit-animation: spin-horizontal 5s infinite linear;*/
    animation: spin-horizontal 5s infinite linear;
}
@keyframes spin-horizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}
#body {
    background-image: url(../img/konami-start.gif);
    background-size: 105rem 971px;
}
#title {
    background-image: url(../img/Konami1986.png);
    color: silver;
    size: 0;
}
#input {
    background: silver;
}
#img {
    display: none;
}
#input {
    display: block;
}
#logo {
    margin-top: 5vh;
    margin-left: 11%;
    border-width: 3rem;
    border-radius: 30px;
    box-shadow: 0 0 7px 7px black;
}
/*#logo {*/
/*    border-width: 3rem;*/
/*    border-radius: 30px;*/
/*    box-shadow: 5px 5px 12px 0 black;*/
/*}*/