.navbar-toggler-icon {
    background: rgba(81, 187, 27, 0.44);
}

.user-profile-pic {
    width: 12px;
}

.nav-item {

}

.nav-link {
    color: black;
}

#main-navigation :nth-child(4) {
    width: 1050px;
}

.navbar {
    align-items: center;
}

.navbar-nav {

}

.nav {
    padding-left: 12px;

}

.btn {

}


.s{
    padding-left: 11em;
}

h1 {
    width: 120%;
    color: rgba(0, 0, 0, 0.71);
}