p {
    background: green;
}
#jalopy1-main {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#img-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
