p {
    background: green;
}
#jalopy1-main {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#img-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*.jalopy-nav {*/
/*    position: fixed;*/
/*    z-index: 1000;*/
/*    width: 100%;*/
/*    ;*/
/*}*/
#app {
    background: lightgray;
}

footer {
    margin-top: 100%;
}